<h1> Hola <small>Personita</small></h1>

<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/dashboard">
            <i class="fa fa-arrow-left">
                Regresar
            </i>
        </button>

    </div>
</div>
<!-- -----------------Formulario-------------- -->
<div class="row animated fadeIn faster">
    <div class="col"> 
        <form  [formGroup]="form" (ngSubmit)="onSubmit()" >
                    <!-- <div class="form-group">
                        <label> FirebaseID </label>
                        <input
                            formControlName="id" 
                            type="text"
                            placeholder="FirebaseID"
                            [(ngModel)]="persona.id"
                            name="id"
                            class="form-control is-invalid"
                            disabled="disabled">
                            <small class="form-text text-muted">Campo Autogenerado</small>
                    </div> -->

                    <div class="form-group">
                        <label> Nombre(s) </label>
                        <input 
                            formControlName="nombre" 
                            placeholder="Nombre(s)"
                            name="nombre"
                            class="form-control"
                            required
                            
                            >                       
                    </div>
                    <div class="form-group">
                        <label> Apellido Paterno </label>                       
                        <input 
                            formControlName="apellidoPaterno"     
                            placeholder="Apellido Paterno"
                            name="apellidoPaterno"
                            class="form-control"
                            required
                     
                            >                                           
                    </div>
                    <div class="form-group">
                        <label> Apellido Materno </label>
                        <input
                            formControlName="apellidoMaterno"  
                            placeholder="Apellido Materno"
                            name="apellidoMaterno"
                            class="form-control"
                            required
                            
                            >                       
                    </div>

                    <div class="form-group">
                        <label> Direccion </label>
                        <input 
                            formControlName="direccion" 
                            placeholder="Direccion"
                            name="Direccion"
                            class="form-control"
                            required
                           
                            >                       
                    </div>
                    <div class="form-group">
                        <label> Telefono </label>
                        <input 
                            formControlName="telefono" 
                            placeholder="Telefono"
                            name="Telefono"
                            class="form-control"
                            required
                            >                       
                    </div>
    
                    <hr>

                <div class="form-group text-center">
                    <button class="btn btn-primary w-25" type="submit"><i class="fa fa-save">  Guardar</i></button>   
                </div>

        </form>

    </div>
</div>